.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.col-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.col-between{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.col-around{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.col-evenly{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.row-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.row-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row-evenly{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* 화면 중앙에 두는 class */
.center{
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}